/* import Google Font Alegreya */
@import url(https://fonts.googleapis.com/css?family=Alegreya:400,400italic,700,700italic,900,900italic);



$body-width:	800px;
$font-main:		Alegreya;

/* colors */

$color-background:	#FEFFEA;
$color-1:			#4F23D0;
$color-2:			#492EA2;
$color-3:			#391782;
$color-shadow:		#2C2430;